ion-spinner {
    color: white;
    height: 100px;
    width: 100px;
}

.center-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}