<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button color="dark" class="show-back-button" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/images/logo.PNG" class="logo-title mx-auto" />
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-title class="title pl-16">
    <strong>
      Despre Aplicație
    </strong>
  </ion-title>
  <ion-item lines="none">
    <p class="text-content">
      Resource and Volunteer Management este o aplicație menită să ofere sprijin în eventualitatea unei calamități majore care ar avea loc în România. RVM este un instrument de administrare de voluntari și resurse pe care le pune la dispoziție societatea civilă către Departamentul de Situații de Urgență în cazul unui seism major sau al unui alt dezastru natural. 
    </p>
  </ion-item>
  <ion-item lines="none">
    <p class="text-content">
      Cu ajutorul acestei componente mobile a aplicației puteți să mobilizați voluntari sau să validați identitatea unor voluntari deja existenți în platformă în cazul în care aceștia își oferă ajutorul în teren și se identifică parte din protocolul de colaborare cu DSU.
    </p>
  </ion-item>
  <ion-item lines="none">
    <p class="text-content">
      De asemenea, aplicația va permite și administrarea voluntarilor spontani care își oferă ajutorul în caz de dezastru. Puteți înregistra foarte simplu un voluntar nou în baza de date și îl puteți aloca unei zone de intervenție pentru un mai bun management al persoanelor implicate în eforturile de salvare din teren.  
    </p>
  </ion-item>
  <ion-item lines="none">
    <p class="text-content">
      Aplicația RVM este dezvoltată de Code for Romania, în parteneriat cu Departamentul pentru Situații de Urgență și cu sprijinul World Bank. 
    </p>
  </ion-item>

  <ion-item lines="none">
    <ion-row>
      <ion-col>
        <img src="../../../assets/images/DSU_logo.PNG"/>
      </ion-col>
      <ion-col>
        <img src="../../../assets/images/code_4_romania_logo.svg"/>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item lines="none">
    <ion-row>
      <ion-col>
        <img src="../../../assets/images/world_bank_logo.JPG"/>
      </ion-col>
      <ion-col>
        <img src="../../../assets/images/GFDPR_logo.jpg"/>
      </ion-col>
    </ion-row>    
  </ion-item>
</ion-content>