.search-box ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h {
    --padding-start: 5px;
}

.search-box ion-button {
    text-transform: capitalize;
    margin: 0;
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-end: 15px;
    --padding-start: 15px;
    margin-top: 0;
    --border-radius: 0 2px 2px 0;
    height: 35px;
    --box-shadow:none;
}
