<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button color="dark" class="show-back-button" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/images/DSU_logo.PNG" class="logo-title mx-auto" />
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item lines="none" class="item item-text-wrap title">
    Caută după nume, CNP sau organizație
  </ion-item>

  <ion-item lines="none" class="search-box mx-auto">
    <ion-searchbar type="text" debounce="500" (ionInput)="searchKeyword($event)"></ion-searchbar>
    <ion-button color="success" (click)="searchKeyword($event)">
      Caută
    </ion-button>
  </ion-item>

  <ion-list class="pb-0 underlined-list">
    <div *ngFor="let volunteer of volunteers" class="list-item">
      <ion-item lines="none" (click)="openMenu(volunteer._id)">
        <ion-label class="name">
          {{volunteer.name}}
        </ion-label>
        <ion-label class="organisation pl-10">
          <a (click)="openBrowser(volunteer.organisation?.website)" *ngIf="volunteer.organisation">
            {{(volunteer.organisation.name)}}
          </a>
          <a *ngIf="!volunteer.organisation">
            Neafiliat
          </a>
        </ion-label>
        <ion-icon name="arrow-dropdown" class="drop-down-icon" *ngIf="volunteer._id !== volunteerIdWithDetails">
        </ion-icon>
        <ion-icon name="arrow-dropup" class="drop-down-icon" *ngIf="volunteer._id === volunteerIdWithDetails">
        </ion-icon>
      </ion-item>

      <div *ngIf="volunteer._id === volunteerIdWithDetails" class="item-menu mb-5">
        <ion-item lines="none" *ngFor="let course of courses" >
          <ion-label class="m-0">
            Voluntar acreditat pentru <a>{{course.course_name.name}}</a>.
          </ion-label>
        </ion-item>

        <ion-item lines="none" *ngIf="volunteer.job">
          <ion-label class="m-0">
            {{volunteer.job}}.
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="m-0">
            Înregistrat în {{volunteer.created_at | date: 'dd.MM.yyyy'}}.
          </ion-label>
        </ion-item>

        <ion-row lines="none" *ngIf="!volunteer.isInAllocation">
          <ion-col col-6>
            <ion-button color="light" class="w-100" (click)="sendAlert(volunteer)">
              Trimite mesaj
            </ion-button>
          </ion-col>
          <ion-col col-6 *ngIf="!volunteer.allocation" (click)="allocateUser(volunteer._id)">
            <ion-button color="secondary" class="w-100">
              Alocă voluntar
            </ion-button>
          </ion-col>
          <ion-col col-6 *ngIf="volunteer.allocation"  (click)="allocateUser(volunteer._id)">
            <ion-button color="light" class="w-100">
              Voluntar alocat
            </ion-button>
          </ion-col>
        </ion-row>

        <div *ngIf="volunteer.isInAllocation">
          <ion-row>
            <ion-col col-6 class="custom-input selectors">
              <ion-label class="title">Județ</ion-label>
              <ion-select class="mt-10" [(ngModel)]="county" (ionChange)="countySelectionChanged($event)" class="mt-5 p-5">
                <ion-select-option *ngFor="let county of counties" [value]="county">{{county.name}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col col-6 class="custom-input selectors">
              <ion-label class="title">Localitate</ion-label>
              <ion-select class="mt-10" [(ngModel)]="city" class="mt-5 p-5" [disabled]="!county">
                <ion-select-option *ngFor="let city of cities" [value]="city">{{city.name}}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6></ion-col>
            <ion-col col-6>
              <ion-button color="success" (click)="confirmAllocation(volunteer._id)" class="w-100 h-25">
                Confirmă
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Se încarcă voluntari...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-row *ngIf="volunteers.length > 0">
    <ion-col col-6></ion-col>
    <ion-col col-6 align-self-end>
      <ion-button color="secondary" (click)="sendAlert()" float-right class="w-100">
        Trimite-le alertă
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>