<ion-content color="primary">
  <form (ngSubmit)="submit()" class="login-form" [formGroup]="loginForm" id="loginform" novalidate>
    <div class="logo mx-auto p-20 mb-50">
      <img src="../../assets/images/logo.PNG" class="mx-auto mt-30" />
    </div>
    <ion-item color="transparent" class="login-item mx-10" lines="none">
      <ion-label position="floating">Număr de telefon</ion-label>
      <ion-input type="tel" formControlName="phoneNumer"></ion-input>
    </ion-item>
    <ion-item color="transparent" class="login-item mx-10" lines="none">
      <ion-label position="floating">Cod de securitate</ion-label>
      <ion-input formControlName="securityCode" type="text"></ion-input>
    </ion-item>
    <ion-button ion-button type="submit" color="secondary" expand="full" class="full-button">Login</ion-button>
  </form>
</ion-content>