<ion-app>
  <ion-split-pane>
    <!-- *ngIf="authenticationService.isAuthenticated()" -->
    <!-- TODO ADD THIS TO MENU WHEN BACKEND READY -->
    <ion-menu type="overlay" side="end" class="side-menu" id="side-menu">
      <ion-header>
        <ion-toolbar mode="ios">
          <ion-buttons slot="end">
            <ion-menu-button color="dark"></ion-menu-button>
          </ion-buttons>
          <ion-title>
            RVM
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list padding>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let p of appPages" class="menu-entry mx-auto pt-5" (click)="performAction(p.url)">
              <ion-label class="ion-text-center">
                <strong>
                  {{p.title}}
                </strong>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>