<ion-content color="primary">
  <form (ngSubmit)="resetPassword()" class="login-form" [formGroup]="resetPasswordForm" id="resetPasswordForm">
    <div class="logo mx-auto p-20 mb-50">
      <img src="../../assets/images/logo.PNG" class="mx-auto mt-30" />
    </div>

    <ion-item color="transparent" class="login-item mx-10" lines="none">
      <ion-label position="floating">Parolă</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item color="transparent" class="login-item mx-10" lines="none">
      <ion-label position="floating">Confirmă Parola</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-button ion-button type="submit" color="secondary" expand="full" class="full-button" [disabled]="resetPasswordForm.invalid">Trimite</ion-button>
  </form>
</ion-content>
