.sc-ion-textarea-md-h {
    margin-top: 0;
}

ion-button ion-icon {
    font-size: 24px;
}

.full-button-bottom {
  margin: 0;
  height: 50px;
}

.header {
    background-color: #f9f9f9; 
    min-height: 100px; 
    text-align: center;
    padding: 30px 10px;

    ion-icon {
        font-size: 35px;
    }

    ion-label {
        display: block;
        font-size: 25px;
    }
}

.message-textarea {
    height: 300px;
}

ion-textarea textarea {
    height: 100%;
}