<ion-content color="primary">

  <form (ngSubmit)="submit()" *ngIf="!loading" class="login-form" [formGroup]="loginForm" id="loginform"
    (keyup.enter)="submit()">
    <div class="logo mx-auto mb-50">
      <img src="../../assets/images/DSU.png" class="mx-auto" />
    </div>
    <ion-item color="transparent" class="login-item mx-10" lines="none">
      <ion-label position="floating">Adresă de email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item color="transparent" class="login-item mx-10" lines="none">
      <ion-label position="floating">Parolă</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item color="danger" class="error-message m-10" lines="none"
      *ngIf="errorMessage || (loginForm.controls.email.errors?.email && loginForm.controls.email.touched)">
      <p> {{ loginForm.controls.email.errors?.email || errorMessage }}
      </p>
    </ion-item>

    <a [routerLink]="['/auth/recover']">Am uitat parola</a>
    <ion-button ion-button type="submit" color="secondary" expand="full" class="full-button"
      [disabled]="loginForm.invalid">Login</ion-button>
  </form>

  <div class="center-spinner" *ngIf="loading">
    <ion-spinner name="crescent" center></ion-spinner>
  </div>
</ion-content>