.add-form ion-input {
    -webkit-box-shadow: 0px 0px 0px 5px rgba(240,237,240,1);
    -moz-box-shadow: 0px 0px 0px 5px rgba(240,237,240,1);
    box-shadow: 0px 0px 5px 2px rgba(240,237,240,1);
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding-left: 5px;
}

.checkbox-item {
    margin-left: -10px;
}

.add-form .input-error {
    border: 1px solid red!important;
}

.add-form .error-message {
    color: red;
    margin-left: 10px;
    background: white;
}

.course-date {
    text-align: center;
    padding-top: 10px;
}
