<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button color="dark" class="show-back-button" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/images/DSU_logo.PNG" class="logo-title mx-auto" />
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form (ngSubmit)="submit()" class="add-form" [formGroup]="addForm" id="addForm">
    <div class="mt-10">
      <ion-label class="title">Adaugă nume</ion-label>
      <ion-input type="text" formControlName="name" class="mt-10"></ion-input>
    </div>

    <div class="mt-10">
      <ion-label class="title">Adaugă CNP</ion-label>
      <ion-input type="number" formControlName="ssn" class="mt-10" (ionChange)="ssnExists($event)"
        [ngClass]="{'input-error': this.addForm.hasError('incorrect-ssn')}"></ion-input>
      <p *ngIf="this.addForm.hasError('incorrect-ssn')" class="error-message">Acest CNP aparține deja unui voluntar.</p>
    </div>

    <div class="mt-10">
      <ion-label class="title">Adaugă număr de telefon</ion-label>
      <ion-input type="tel" formControlName="phone" class="mt-10"></ion-input>
    </div>

    <div class="selectors">
      <div class="mt-10">
        <ion-label class="title">
          Alege județ
        </ion-label>
        <ion-select class="mt-10" formControlName="county" (ionChange)="countySelectionChanged($event)">
          <ion-select-option *ngFor="let county of counties" value="{{county.name}}">{{county.name}}</ion-select-option>
        </ion-select>
      </div>

      <div class="mt-10">
        <ion-label class="title">
          Alege localitate
        </ion-label>
        <ion-select class="mt-10" formControlName="city" (ionChange)="citySelectionChanged($event)">
          <ion-select-option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</ion-select-option>
        </ion-select>
      </div>

      <div class="mt-10">
        <ion-label class="title">
          Alege organizație
        </ion-label>
        <ion-select class="mt-10" formControlName="organisation" *ngIf="!addNewOrganisation"
          [attr.disabled]="organisationNone" (ionChange)="organisationSelectionChanged($event)">
          <ion-select-option *ngFor="let organisation of organisations" value="{{organisation._id}}">
            {{organisation.name}}</ion-select-option>
          <ion-select-option value="new">Adaugă organizație nouă</ion-select-option>
        </ion-select>
        <ion-input type="text" [(ngModel)]="newOrganisation" [ngModelOptions]="{standalone: true}" class="mt-10"
          *ngIf="addNewOrganisation" [attr.disabled]="organisationNone"></ion-input>
      </div>

      <ion-item lines="none" class="checkbox-item">
        <ion-checkbox [(ngModel)]="organisationNone" [ngModelOptions]="{standalone: true}" name="organisationNone"
          (ionChange)="organisationNoneChanged()">
        </ion-checkbox>
        <ion-label class="pl-10">Neafiliat</ion-label>
      </ion-item>

      <div>
        <ion-label class="title">
          Alege specializare
        </ion-label>
        <ion-select class="mt-10" formControlName="course" (ionChange)="courseSelectionChanged()"
          [attr.disabled]="courseNone">
          <ion-select-option *ngFor="let course of courses" value="{{course}}">{{course}}
          </ion-select-option>
        </ion-select>
      </div>
<!-- 
      <div class="mt-10" *ngIf="!!selectedCourse.name && !courseNone">
        <ion-label class="title">
          Alege organizație acreditoare
        </ion-label>
        <ion-select class="mt-10" formControlName="acreditedOrganisation"
          (ionChange)="acreditedOrganisationSelectionChanged($event)">
          <ion-select-option>Invalideaza selectia</ion-select-option>
          <ion-select-option *ngFor="let acreditedOrganisation of acreditedOrganisations"
            value="{{acreditedOrganisation.acredited}}">{{acreditedOrganisation.acredited}}
          </ion-select-option>
        </ion-select>
        <ion-row>
          <ion-col>
            <p class="course-date">
              {{selectedCourse.obtained | date}}
            </p>
          </ion-col>
          <ion-col>
            <ion-button (click)="showDatePicker()" class="mt-10">
              Alege data acreditării
            </ion-button>
          </ion-col>
        </ion-row>
      </div> -->

      <ion-item lines="none" class="checkbox-item">
        <ion-checkbox [(ngModel)]="courseNone" [ngModelOptions]="{standalone: true}" name="coursesNone" (ionChange)="courseNoneChanged()"></ion-checkbox>
        <ion-label class="pl-10">Fără acreditare</ion-label>
      </ion-item>
    </div>

    <ion-row>
      <ion-col col-6>
      </ion-col>
      <ion-col col-6>
        <!-- [disabled]="(!courseNone || !addForm.valid) && (courseNone || !addForm.valid || !selectedCourse.obtained)" -->
        <ion-button type="submit" color="success" class="mt-10 w-100"
          [disabled]="addForm.invalid"
          >
          Salvează</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>